<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://tjroger.github.io/demo.ipa</string>
		<key>displayImageURL</key>
		<string>https://tjroger.github.io/demo.png</string>
		<key>fullSizeImageURL</key>
		<string>https://tjroger.github.io/demo.png</string>
	</dict>
	<key>method</key>
	<string>ad-hoc</string>
	<key>signingStyle</key>
	<string>automatic</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>7KXVPC4Y3C</string>
	<key>thinning</key>
	<string>iPhone10,3</string>
</dict>
</plist>
